@tailwind base;
/* Custom classes */
.apple-button {
  background-color: white;
  color: black;
}

.apple-button:hover .apple-image {
  color: white;
}

.mangalife img {
  max-width: 90px;
  height: 90px;
}

@tailwind components;
@tailwind utilities;
